*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
nav{
    background-color: darkorange;
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;

}
.links{
    flex: 1;
    text-align: right;
}
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.links ul li a {
    color: black;
    text-decoration: solid;
    font-size: 25px;
} 

.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: grey;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links ul li:hover::after {
    width: 60px;
}  

.contact{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact form{
    width: 670px;
    height: 400px; 
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
    background-color: darkorange;
}
.contact form h1{
    color: black;
    font-weight: 500px;
    margin-top: 30px;
    text-align: center;
    width: 500px;
}
.contact form input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: grey;
    border-bottom: 2px solid black;
}
.contact form input::placeholder{
    color: black;
}
.contact form #lastName{
    margin-left: 20px;
}
.contact form #number{
    margin-left: 20px;
}
.contact form h3{
    color: black;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
    text-align: center;
}
.contact form textarea{
    border: none;
    border-radius: 5px;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 400px;
    max-width: 400px;
    min-height: 80px;
    max-height: 80px;
}
.contact form #button{
    border: none;
    background: grey;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    color: black;
    width: 100px;
    padding: 0;
    margin-bottom: 30px;
    margin-right: 500px;
    cursor: pointer;    
} 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px; 
    position: fixed;
    bottom: 0;
    width: 100%;
}