*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
nav{
    background-color: darkorange;
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;

}
.links{
    flex: 1;
    text-align: right;
}
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.links ul li a {
    color: black;
    text-decoration: solid;
    font-size: 25px;
} 

.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: grey;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links ul li:hover::after {
    width: 60px;
}  
.text{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}
.text h1{
    font-size: 60px;
    color:darkorange;
    font-family: 'Cormorant Garamond', serif;
}
.text h3 {
    margin: 10px 0 40px ;
    font-size: 20px;
}


.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 15%;
}
.info h1{
    font-size: 30px;
    font-style: italic;
    color: darkorange;
}
.info h3{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.info img{
    float: none;
    border: 3px solid black;
    border-radius: 10px;
    width: 30%;
    height: 30%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px; 
    position: fixed;
    bottom: 0;
    width: 100%;
}